W obecnym środowisku AngularJS stwórz listę stu elementów
reprezentujących menu w pewnej restauracji internetowej. 
Każdy z elementów powinien składać się z:
<ul>
  <li>
    indexu zaczynając od 1
  </li>
  <li>
    nazwy którą należy pobrać z pliku salads.json
  </li>
  <li>
    ceny którą należy dodać wg. wzorca (jeżeli któreś z
    dań pasuje do dwóch kryteriów to należy przyjąć kryterium
    pierwsze):  
    <ul>
      <li>15zł co trzecie danie</li>
      <li>10zł danie zaczynające się na literę "E", "R" lub "G"</li>
      <li>20zł dania które nie pasują do żadnego z powyższych</li>
    </ul>
  </li>
  <li>
    checkboxa którym będzie można zaznaczyć dane danie.
    Zaznaczone danie powinno być wyróżnione za pomocą CSS.
  </li>
</ul>

Sumę cen wszystkich zaznaczonych dań należy wyświetlić 
pod listą. Zadanie będzie sprawdzane pod kątem wykonanych
podpunktów oraz pod kątem przestrzegania ogólno pojętych
zasad programowania.
